<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="">
                Welcome to the flickr API front end exercise. In this exercise, I have showcased
                making calls to get the public photos and displaying them with images along with details
                that can be viewed upon clicking. <br>
                Some of the features included for the current page
            <ul>
                <li> Api Based Results -- By default Recent Photos Api is used</li>
                <li> Sorting -- By default Sorted by ID</li>
                <li> Filter Sizes -- By default set to square</li>
                <li> Search</li>
                <li> Pagination</li>
            </ul>


            I have used the following to display the usage of the
            flickr API's.
            <dt>HTML5</dt>
            <dt>AngularJS -- For the front end MVC</dt>
            <dt> Bootstrap -- For RWD</dt>
            <dt>FontAwesome -- For font icons to be used instead of images</dt>


            </p>


        </div>
    </div>
</div>
